node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.local
.env.*.local
!.env.example

web-build/
dist/
.next/
out/
.expo/
.expo-shared/

coverage/
*.tsbuildinfo

.DS_Store
Thumbs.db
